# Download audio file

In [156]:
import youtube_dl
#from youtube_dl import YoutubeDL
import re
import os
from tqdm import tqdm
import pandas as pd
import numpy as np
import pytube
from moviepy.editor import *
from moviepy.video.io.ffmpeg_tools import ffmpeg_extract_subclip
import ffmpeg
import subprocess

In [98]:
!pip install ffmpeg-python

Requirement already satisfied: ffmpeg-python in /opt/anaconda3/envs/work/lib/python3.7/site-packages (0.2.0)
Requirement already satisfied: future in /opt/anaconda3/envs/work/lib/python3.7/site-packages (from ffmpeg-python) (0.18.2)

## Create a pandas dataset

In [3]:
df=pd.read_csv(os.path.abspath(os.path.join(os.getcwd(),os.pardir,os.pardir))+'/data/data_split.csv',index_col=0)
df.head()

           url  start_time  end_time class_label
0  SpNYhh5nwBk        50.0      60.0      Animal
1  Y-5QMgGV1H0         0.0      10.0      Animal
2  2yRlkPqa6rQ        20.0      30.0      Animal
3  NYiIU62GHV4        30.0      40.0      Animal
4  x3c0szZ7VYI        60.0      70.0      Animal

In [36]:
df['class_label'].value_counts()

Natural    5000
Humans     5000
Animal     5000
Name: class_label, dtype: int64

In [75]:
for i, row in tqdm(df.iterrows()):
    print(row)
    break

0it [00:00, ?it/s]

url            SpNYhh5nwBk
start_time              50
end_time                60
class_label         Animal
Name: 0, dtype: object

## Download Audio

In [178]:

for i, row in tqdm(df.iterrows()):
    if i==10:#download first 10 .wav files
        break
    url = 'https://www.youtube.com/watch?v=' + row['url']
    file_name = str(i)+"_"+row['class_label']
    
    try:
        
    
        subprocess.Popen("ffmpeg -ss " + str(row['start_time']) + " -i $(youtube-dl -f 140 --get-url " + url + ") -t 10 -c:v copy -c:a copy " + file_name + ".mp4", shell=True).wait()
        
        subprocess.Popen("ffmpeg -i "+file_name+".mp4 -ab 160k -ac 2 -ar 44100 -vn "+file_name+'.wav',shell=True).wait()
        
        subprocess.Popen('rm '+file_name+'.mp4',shell=True).wait()


    except:
        print('Aladin', url)
        pass

10it [00:23,  2.37s/it]

citare: https://github.com/HareeshBahuleyan/music-genre-classification/blob/master/1_audio_retrieval.ipynb