In [66]:
import os
import pandas as pd
import numpy as np
import json
from collections import defaultdict

In [11]:
data_path = os.path.abspath(os.path.join(os.getcwd(),os.pardir,os.pardir))+'/data/'

In [ ]:
dictionary = {'Animal': {'/m/0ch8v','/m/01280g','/m/068hy'},
              'Humans':{'/m/02zsn','/m/01w250','/m/09hlz4','/m/0bpl036','/m/09l8g',
                       '/m/0k65p','/m/01jg02','/t/dd00012','m/05zppz','/m/09x0r'},
              'Natural':{'/m/03m9d0z','/m/0jb2l','/m/0838f','/m/02_41'}
              'Music':{'/m/04rlf'}}

- speech is one of the most interesting feature for humans hence it's the most used 
- Music is not used atm
- Animals: Domestic animals / Livestock / Wild animals
- Natural: Wind / Thunderstorm / Water / Fire

Step 1: Take only these classes

Read dataset

In [238]:
lines =[]
with open(data_path+'unbalanced_train_segments.csv','r') as file:
    lines = file.readlines()
lines = lines[3:]

Create dataframe for each category [it takes a while - not really efficient]

In [341]:
dataframe = []
#for each category
for i,key in enumerate(dictionary.keys()):
    data = np.ones(shape=(1,4)) 
    for line in lines:
        elements = line.rstrip().split(',')
        common = list(dictionary[key].intersection(elements[3:]))
        #no control about the subgroup
        if common != []:
            data = np.vstack([data, np.array(elements[:3] + [key]).reshape(1,4)])
    dataframe.append(data)

In [377]:
def get_sample(arr,k=5000): #take k-sample from the dataset
    idx = np.random.choice(range(2,len(arr)),replace=False,size=k)
    return arr[idx]

In [378]:
temp = np.vstack([np.vstack([get_sample(dataframe[0]), get_sample(dataframe[1])]), get_sample(dataframe[2])])
df = pd.DataFrame(temp, columns=['url', 'start_time', 'end_time', 'class_label'])

In [380]:
df.class_label.value_counts() #it's balanced -> justify it

Natural    5000
Humans     5000
Animal     5000
Name: class_label, dtype: int64

In [384]:
df.sample(20)

               url start_time  end_time class_label
13518  hrOETwCyaMI     30.000    40.000     Natural
13819  xnphJxdVEtM     10.000    20.000     Natural
7058   w64j9WLL6Jc     30.000    40.000      Humans
8751   4RzL40abzxI     30.000    40.000      Humans
2673   hJHznQgrNQk     30.000    40.000      Animal
2944   cN-oYKd-M4E     20.000    30.000      Animal
14936  8jCy3gEe_Mk     28.000    38.000     Natural
11218  duuPisBMWvQ     30.000    40.000     Natural
6713   4IcJ4-ldsTo     30.000    40.000      Humans
12519  3dlDW5rwkS8    100.000   110.000     Natural
2102   rXUc7rfCGvc      6.000    16.000      Animal
11476  8z8yuH_D-yU     30.000    40.000     Natural
1411   iTsJOH2OlYU     30.000    40.000      Animal
10058  RyGZKo8h-oM     30.000    40.000     Natural
10102  V4EftjzQSRk     30.000    40.000     Natural
6941   Fz5PhC7dgt4     70.000    80.000      Humans
2839   JpPwbPIZFFY     60.000    70.000      Animal
13452  lc29XGYYD84    400.000   410.000     Natural
13686  Ekm8xTqHSv4    250.000   260.000     Natural
10222  E910Xh7xMDw     90.000   100.000     Natural

In [386]:
df.to_csv(data_path+'data_split.csv') #save dataset